<div class="menuL">
    <mat-list>
        <div class="usuarioIcon">
            <img src="/img/user_icon.png" alt="" >
        </div>
        
        <mat-list-item class="usuarioIcon"><div class="color_menu">Usuario</div></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <button mat-button class="botonM"><div class="color_menu">Inicio</div></button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <button mat-button class="botonM"><div class="color_menu">Trabajos</div></button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <button (click)="cerrarSesion()" mat-button class="botonM"><div class="color_menu">Cerrar Sesión</div></button>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>


  